@import "@styles/variables.scss";

.account {
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    background-color: #80F5D0;

    &__info {
        align-items: center;
        justify-content: space-between;

        div:last-child {
            text-align: end;
        }
    }
}

.modalButton {
  max-width: 100% !important;
}

.fileInputContainer {
    width: 100% !important;
    position: relative;
    display: inline-block;
  }
  
  .fileInput {
    opacity: 0 !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer !important;
  }
  
  .customFileButton {
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    color: $color-links;
    border: 2px dashed $color-links;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .customFileButton:hover {
    background-color: #005bb5;
  }