@import "@styles/variables.scss";

.container {
  display: flex;
  overflow: hidden;
  background-color: #950404;
  border-radius: 17px;
  position: relative;

  .buttonDelete {
    width: 30%;
    height: 100%;
    border: 1px solid black;
    max-width: 200px;
    color: $color-white;
    position: absolute;
    margin: auto;
    right: 0;
  }
}

.card {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 16px;
    background-color: #E6EEFE;

    &__content {
      padding: 0px 16px 16px 16px;

      div {
        justify-content: space-between;
      }

      button {
        gap: 10px;
        justify-self: flex-end;
      }
    }
}

.disabled {
  div, button {
    background-color: #EFF0F0;
  }
}
  
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    div {
      gap: 10px;
      align-items: center;
    }
  
    &__icon {
      padding: 5px;
      background-color: #80E1FF;
      cursor: pointer;
    }
}
  
.switch {
    margin-right: 16px !important;
}
  
.content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.8s ease, opacity 1s ease;
  
    &.expanded {
      max-height: 500px;
      opacity: 1;
    }
}
  

