@import "@styles/variables.scss";

.container {
    position: relative;
    width: 100%;
    max-width: $breakpoint-sm;
    height: 100%;
    min-height: 100vh;
    padding: 20px;
    background-image: url('/qr_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    margin: auto;
}

.container::before {
    content: '';
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
    background-color: #32005ECC;
}

.navbar {
    padding: 20px;
    flex-direction: column;
    text-align: center;
    color: $color-white;
    z-index: 2;

    .arrow {
        position: absolute;
        top: 32.5px;
        left: 20px;
    }
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 !important;
    color: $color-white;
    z-index: 2;
    justify-content: center;
    gap: 100px;

    h2 {
        margin: 0px !important;
    }
    
}

.qrImage  {
    --s: 50px; /* the size on the corner */
    --t: 3px;  /* the thickness of the border */
    --g: 20px; /* the gap between the border and image */
    
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid $color-white; /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
      0 0/calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;
      border-radius: 15px;
  }
  

.optionsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

    .iconOption {
        color: $color-white !important;
    }
}