@import "./variables.scss";

.container {
  width: 100%;
  max-width: $breakpoint-sm;
  margin: auto;
  padding: 30px 20px 0px;
}

.gap {
  gap: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold !important;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.color-principal {
  color: $color-principal;
}

.color-typo {
  color: $color-typography;
}

.title {
  font-size: $size-title;
}

.subtitle {
  font-family: $font-subtitle;
  font-size: $size-subtitle;
}

.body {
  font-size: $size-body;
}

.tiny {
  font-size: $size-tiny;
}

// blur

.blurred {
  filter: blur(2px);
  pointer-events: none;
  user-select: none !important;
}

.blurred::after {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.158);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

// button

.btn-enabled {
  background-color: #00BD81 !important;
  color: $color-white !important;
}

.btn-disabled {
  background-color: #EFF0F0;
  color: #89949F;
  pointer-events: none !important;
}

// amplify

.amplify-input {
  padding: 10px !important;
  font-size: $size-body !important;
  box-shadow: none !important;
}

.amplify-button {
  width: 100% !important;
  box-shadow: none !important;
}