@import url('https://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

// Fonts
$font-principal: 'Poppins', sans-serif;
$font-subtitle: 'Inter', sans-serif;
$font-credit-card: 'Plus Jakarta Sans', sans-serif;

// Colors

$color-principal: #6F2FD3;
$color-white: #fff;
$color-typography: #000;
$color-links: #00BD81;
$color-icon: #80E1FF;
$color-card: #E6EEFE;

// Font Sizes

$size-title: 24px;
$size-subtitle: 20px;
$size-body: 16px;
$size-tiny: 14px;

// Breakpoints 

$breakpoint-sm: 596px;