@import "@styles/variables.scss";

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inputValue {
    display: flex;
    text-align: center !important;
}

.btn {
    width: 100%;
    align-items: flex-end;
    padding-bottom: 30px;
}

.alertMessage {
    color: #002266;
    padding: 12px 15px;
    background-color: $color-bg;
}

.errorMessage {
    text-align: center;
    color: #660000;
}