@import "@styles/variables";

.optionsContainer, .accountOptionsContainer {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.accountOptionsContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.keyData {
    margin: 0px auto;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    background-color: #80F5D0;
    align-items: flex-start;

    &__info {
        font-size: 14px !important;
        text-align: left !important;
    }

    &__showKey {
        gap: 10px;
        font-size: 12px;
        justify-content: flex-end;
    }

    button {
        display: flex;
        padding: 5px;
        align-items: center;
        background-color: $color-white;
    }
}