@import "@styles/variables.scss";

.btn {
    width: 100%;
    max-width: 350px;
    font-weight: bold;
    padding: 10px 16px;
    transition: 0.5s;
    border-radius: 5px;
}

.btnEnabled {
  background-color: #00BD81;
  color: $color-white;
}

.btnDisabled {
  background-color: #EFF0F0;
  color: #89949F;
  pointer-events: none;
  
}
