@import "@styles/variables.scss";

.optionsContainer {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 15px;
}

.footer {
    position: fixed;
    width: 100%;
    max-width: 596px;
    z-index: 30;
    background-color: $color-white;
    padding: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.16);
}

.buttonBreb {
    div {
        background-color: #00C3FF !important;
    }
}